simxml/simxmllib/simgeom.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.lbl.gov/namespaces/Sim/ResourcesGeometry" xmlns:simgeom="http://www.lbl.gov/namespaces/Sim/ResourcesGeometry" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:simcore="http://www.lbl.gov/namespaces/Sim/SimModelCore" xmlns:simres="http://www.lbl.gov/namespaces/Sim/ResourcesGeneral" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xs:import namespace="http://www.lbl.gov/namespaces/Sim/SimModelCore" schemaLocation="simcore.xsd"/>
<xs:import namespace="http://www.lbl.gov/namespaces/Sim/ResourcesGeneral" schemaLocation="simres.xsd"/>


	<!-- Entity elements -->
	<xs:complexType name="SimAnalyticalRepresentation">
<xs:complexContent>
<xs:extension base="simgeom:SimRepresentation">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimAnalyticalRepresentationItem" abstract="true">
<xs:complexContent>
<xs:extension base="simgeom:SimRepresentationItem">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimCartesianTransformOperator">
<xs:complexContent>
<xs:extension base="simgeom:SimRepresentationItem">
<xs:sequence>
<xs:element ref="simgeom:Axis1" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Axis2" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:LocalOrigin" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Scale" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Scale2" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Axis3" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Scale3" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimCartesianTransformOperator_PlaneTransform" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimCartesianTransformOperator_CurrentAspectRatio" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimCartesianTransformOperator_NewAspectRatio" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimConnectedFaceSet">
<xs:complexContent>
<xs:extension base="simgeom:SimTopologicalRepresentationItem">
<xs:sequence>
<xs:element ref="simgeom:CfsFaces" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimEdge">
<xs:complexContent>
<xs:extension base="simgeom:SimTopologicalRepresentationItem">
<xs:sequence>
<xs:element ref="simgeom:EdgeStart" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:EdgeEnd" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:EdgeElement" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Orientation" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:ParentEdge" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimFace">
<xs:complexContent>
<xs:extension base="simgeom:SimTopologicalRepresentationItem">
<xs:sequence>
<xs:element ref="simgeom:Bounds" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:FaceSurface" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SameSense" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimFaceBound">
<xs:complexContent>
<xs:extension base="simgeom:SimTopologicalRepresentationItem">
<xs:sequence>
<xs:element ref="simgeom:Bound" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Orientation" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimFeatureElement" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimElement">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimFeatureElementAddition">
<xs:complexContent>
<xs:extension base="simgeom:SimFeatureElement">
<xs:sequence>
<xs:element ref="simgeom:ObjectPlacement" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Representation" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimFeatureElementSubtraction">
<xs:complexContent>
<xs:extension base="simgeom:SimFeatureElement">
<xs:sequence>
<xs:element ref="simgeom:OpeningHeight" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:OpeningWidth" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:OpeningDepth" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:OpeningPerimeter" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:OpeningArea" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:OpeningVolume" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:VoidedBldgElement" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:ObjectPlacement" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Representation" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:FeatureLength" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimFeatureSurfaceCrack">
<xs:complexContent>
<xs:extension base="simgeom:SimFeatureElement">
<xs:sequence>
<xs:element ref="simgeom:ObjectPlacement" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Representation" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimFeatureSurfaceCrack_AirMassFlowCoefAtRefCond" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimFeatureSurfaceCrack_AirMassFlowExp" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimFeatureSurfaceCrack_RefCrackCond" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Airflow_MZone_RefCrackCond_RefTemp" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Airflow_MZone_RefCrackCond_RefBarometricPressure" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Airflow_MZone_RefCrackCond_RefHumidRatio" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGeomBooleanResult">
<xs:complexContent>
<xs:extension base="simgeom:SimGeometricRepresentationItem">
<xs:sequence>
<xs:element ref="simgeom:Operator" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:FirstOperand" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SecondOperand" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGeomBoundingBox">
<xs:complexContent>
<xs:extension base="simgeom:SimGeometricRepresentationItem">
<xs:sequence>
<xs:element ref="simgeom:Corner" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:XDim" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:YDim" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:ZDim" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGeomCsgPrimative3D">
<xs:complexContent>
<xs:extension base="simgeom:SimGeometricRepresentationItem">
<xs:sequence>
<xs:element ref="simgeom:Position" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:XLength" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:YLength" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:ZLength" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Height" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:BottomRadius" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Radius" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGeomCurve">
<xs:complexContent>
<xs:extension base="simgeom:SimGeometricRepresentationItem">
<xs:sequence>
<xs:element ref="simgeom:Segments" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SelfIntersect" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Transition" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SameSense" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:ParentCurve" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Points" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:BasisCurve" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Trim1_Parameter" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Trim1_Cartesian" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SenseAgreement" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:MasterRepresentation" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Trim2_Cartesian" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Trim2_Parameter" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Position" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Radius" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SemiAxis1" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SemiAxis2" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Pnt" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Dir" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Distance" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:RefDirection" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:CurveOnRelatingElement" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:CurveOnRelatedElement" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGeometricRepresentationItem" abstract="true">
<xs:complexContent>
<xs:extension base="simgeom:SimRepresentationItem">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGeomHalfSpaceSolid">
<xs:complexContent>
<xs:extension base="simgeom:SimGeometricRepresentationItem">
<xs:sequence>
<xs:element ref="simgeom:BaseSurface" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:AgreementFlag" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Enclosure" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Position" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:PolygonalBoundary" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGeomPoint">
<xs:complexContent>
<xs:extension base="simgeom:SimGeometricRepresentationItem">
<xs:sequence>
<xs:element ref="simgeom:Coordinates" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:BasisCurve" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:PointParameter" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:BasisSurface" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:PointParameterU" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:PointParameterV" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGeomSet">
<xs:complexContent>
<xs:extension base="simgeom:SimGeometricRepresentationItem">
<xs:sequence>
<xs:element ref="simgeom:Elements" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGeomSolidModel">
<xs:complexContent>
<xs:extension base="simgeom:SimGeometricRepresentationItem">
<xs:sequence>
<xs:element ref="simgeom:TreeRootExpression" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Outer" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Voids" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SweptArea" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Position" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:ExtrudedDirection" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Depth" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Directrix" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Radius" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:InnerRadius" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:StartParam" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:EndParam" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGeomSurface">
<xs:complexContent>
<xs:extension base="simgeom:SimGeometricRepresentationItem">
<xs:sequence>
<xs:element ref="simgeom:Position" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:BasisSurface" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:OuterBoundary" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:InnerBoundaries" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:U1" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:V1" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:U2" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:V2" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Usense" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Vsense" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SweptCurve" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:ExtrudedDirection" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Depth" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:AxisPosition" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SurfaceOnRelatingElement" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SurfaceOnRelatedElement" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGeomSurfaceModel">
<xs:complexContent>
<xs:extension base="simgeom:SimGeometricRepresentationItem">
<xs:sequence>
<xs:element ref="simgeom:FbsmFaces" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SbsmBoundary" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGeomVector">
<xs:complexContent>
<xs:extension base="simgeom:SimGeometricRepresentationItem">
<xs:sequence>
<xs:element ref="simgeom:Orientation" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Magnitude" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:DirectionRatios" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGridPlacement">
<xs:complexContent>
<xs:extension base="simgeom:SimObjectPlacement">
<xs:sequence>
<xs:element ref="simgeom:PlacementLocation" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:PlacementRefDirection" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimLocalPlacement">
<xs:complexContent>
<xs:extension base="simgeom:SimObjectPlacement">
<xs:sequence>
<xs:element ref="simgeom:PlacementRelTo" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:RelativePlacement" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimLoop">
<xs:complexContent>
<xs:extension base="simgeom:SimTopologicalRepresentationItem">
<xs:sequence>
<xs:element ref="simgeom:Polygon" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:LoopVertex" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimMappedRepresentationItem">
<xs:complexContent>
<xs:extension base="simgeom:SimRepresentationItem">
<xs:sequence>
<xs:element ref="simgeom:MappingSource" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:MappingTarget" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimObjectPlacement" abstract="true">
<xs:complexContent>
<xs:extension base="simres:SimResourceObject">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimPerformanceCurve">
<xs:complexContent>
<xs:extension base="simgeom:SimAnalyticalRepresentationItem">
<xs:sequence>
<xs:element ref="simgeom:SimPerfCurve_Name" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coef1Const" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coef_2_X" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_MinValX" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_MaxValX" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_MinCurveOutput" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_MaxCurveOutput" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_InputUnitTypeForX" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_OutputUnitType" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coef_3_X_2" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coef_4_X_3" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coeff5_X_4" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coeff_1_3_Const" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coef_4_Y" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coeff5_Y_2" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coeff6_X_y" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_MinValY" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_MaxValY" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_InputUnitTypeForY" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coeff7_X_3" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coeff8_Y_3" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coeff9_X_2_Y" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coeff10_X_y_2" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coeff5_X_y" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coeff6_X_2_Y" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coef_2_X_2" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coef_3_X" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coef_4_Y_2" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coeff5_Y" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coeff6_Z_2" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coeff7_Z" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coeff8_X_2_Y_2" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coeff9_X_y" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coeff11_X_2_Y" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coeff_2_X_2_Z_2" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coeff_3_X_z" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coeff_4_X_z_2" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coeff15_X_2_Z" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coeff16_Y_2_Z_2" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coeff17_Y_Z" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coeff18_Y_Z_2" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coeff19_Y_2_Z" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coef_20_X_2_Y_2_Z_2" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coef_21_X_2_Y_2_Z" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coef_22_X_2_Y_Z_2" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coef_3_X_y_2_Z_2" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coef_4_X_2_Y_Z" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coef_25_X_y_2_Z" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coef_26_X_Y_Z_2" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coef_27_X_Y_Z" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_MinValZ" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_MaxValZ" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_InputUnitTypeForZ" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Diam" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_MinorLossCoef" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Length" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Rough" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_FixedFrictionFactor" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coeff1C1" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coeff2C2" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coeff3C3" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coeff4C4" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_MinValueOfQfan" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_MaxValueOfQfan" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_MinValueOfPsm" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_MaxValueOfPsm" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerfCurve_Coeff5C5" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimPerformanceTable">
<xs:complexContent>
<xs:extension base="simgeom:SimAnalyticalRepresentationItem">
<xs:sequence>
<xs:element ref="simgeom:SimPerformanceTable_Name" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerformanceTable_CurveType" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerformanceTable_InterpolatMethod" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerformanceTable_MinValX" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerformanceTable_MaxValX" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerformanceTable_MinTableOutput" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerformanceTable_MaxTableOutput" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerformanceTable_InputUnitTypeForX" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerformanceTable_OutputUnitType" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerformanceTable_NormalizationRef" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerformanceTable_XValue_1_57" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerformanceTable_OutputValue_1_57" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerformanceTable_MinValY" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerformanceTable_MaxValY" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerformanceTable_InputUnitTypeForY" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerformanceTable_XValue_1_164" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerformanceTable_YValue_1_164" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerformanceTable_OutputValue_1_164" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerformanceTable_NumOfInterpolatPoints" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerformanceTable_TableDataFormat" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerformanceTable_ExternalFileName" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerformanceTable_X_1_2_SortOrder" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerformanceTable_MinValueOf_X_1_5" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerformanceTable_MaxValueOf_X_1_5" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerformanceTable_InputUnitTypeForX_1_5" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerformanceTable_NumOfValsForIndepVarX1" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:SimPerformanceTable_Field_1_3083_DetbyNumIndpVars" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimPlacement">
<xs:complexContent>
<xs:extension base="simgeom:SimGeometricRepresentationItem">
<xs:sequence>
<xs:element ref="simgeom:Location" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:Axis" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:RefDirection" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimRepresentation" abstract="true">
<xs:complexContent>
<xs:extension base="simres:SimResourceObject">
<xs:sequence>
<xs:element ref="simgeom:RepresentationContext" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:RepresentationIdentifier" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:RepresentationType" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:RepresentationItems" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimRepresentationItem" abstract="true">
<xs:complexContent>
<xs:extension base="simres:SimResourceObject">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimRepresentationMap">
<xs:complexContent>
<xs:extension base="simgeom:SimRepresentation">
<xs:sequence>
<xs:element ref="simgeom:MappingOrigin" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simgeom:MappedRepresentation" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimShapeRepresentation">
<xs:complexContent>
<xs:extension base="simgeom:SimRepresentation">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimToplogicalRepresentation">
<xs:complexContent>
<xs:extension base="simgeom:SimRepresentation">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimTopologicalRepresentationItem" abstract="true">
<xs:complexContent>
<xs:extension base="simgeom:SimRepresentationItem">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimVertex">
<xs:complexContent>
<xs:extension base="simgeom:SimTopologicalRepresentationItem">
</xs:extension>
</xs:complexContent>
	</xs:complexType>

	
	<!-- Property elements -->
	<xs:element name="Axis1"  type="xs:IDREF"/>
<xs:element name="Axis2"  type="xs:IDREF"/>
<xs:element name="LocalOrigin"  type="xs:IDREF"/>
<xs:element name="Scale"  type="xs:double" nillable ="true"/>
<xs:element name="Scale2"  type="xs:double" nillable ="true"/>
<xs:element name="Axis3"  type="xs:IDREF"/>
<xs:element name="Scale3"  type="xs:double" nillable ="true"/>
<xs:element name="SimCartesianTransformOperator_PlaneTransform"  type="xs:string"/>
<xs:element name="SimCartesianTransformOperator_CurrentAspectRatio"  type="xs:double" nillable ="true"/>
<xs:element name="SimCartesianTransformOperator_NewAspectRatio"  type="xs:double" nillable ="true"/>
<xs:element name="CfsFaces"  type="xs:IDREFS"/>
<xs:element name="EdgeStart"  type="xs:IDREF"/>
<xs:element name="EdgeEnd"  type="xs:IDREF"/>
<xs:element name="EdgeElement"  type="xs:IDREF"/>
<xs:element name="Orientation"  type="xs:boolean" nillable ="true"/>
<xs:element name="ParentEdge"  type="xs:IDREF"/>
<xs:element name="Bounds"  type="xs:IDREFS"/>
<xs:element name="FaceSurface"  type="xs:IDREF"/>
<xs:element name="SameSense"  type="xs:boolean" nillable ="true"/>
<xs:element name="Bound"  type="xs:IDREF"/>
<xs:element name="ObjectPlacement"  type="xs:IDREF"/>
<xs:element name="Representation"  type="xs:IDREF"/>
<xs:element name="OpeningHeight"  type="xs:double" nillable ="true"/>
<xs:element name="OpeningWidth"  type="xs:double" nillable ="true"/>
<xs:element name="OpeningDepth"  type="xs:double" nillable ="true"/>
<xs:element name="OpeningPerimeter"  type="xs:double" nillable ="true"/>
<xs:element name="OpeningArea"  type="xs:double" nillable ="true"/>
<xs:element name="OpeningVolume"  type="xs:double" nillable ="true"/>
<xs:element name="VoidedBldgElement"  type="xs:IDREF"/>
<xs:element name="FeatureLength"  type="xs:double" nillable ="true"/>
<xs:element name="SimFeatureSurfaceCrack_AirMassFlowCoefAtRefCond"  type="xs:double" nillable ="true"/>
<xs:element name="SimFeatureSurfaceCrack_AirMassFlowExp"  type="xs:double" nillable ="true"/>
<xs:element name="SimFeatureSurfaceCrack_RefCrackCond"  type="xs:string"/>
<xs:element name="Airflow_MZone_RefCrackCond_RefTemp"  type="xs:double" nillable ="true"/>
<xs:element name="Airflow_MZone_RefCrackCond_RefBarometricPressure"  type="xs:double" nillable ="true"/>
<xs:element name="Airflow_MZone_RefCrackCond_RefHumidRatio"  type="xs:double" nillable ="true"/>
<xs:element name="Operator"  type="xs:string"/>
<xs:element name="FirstOperand"  type="xs:IDREF"/>
<xs:element name="SecondOperand"  type="xs:IDREF"/>
<xs:element name="Corner"  type="xs:IDREF"/>
<xs:element name="XDim"  type="xs:double" nillable ="true"/>
<xs:element name="YDim"  type="xs:double" nillable ="true"/>
<xs:element name="ZDim"  type="xs:double" nillable ="true"/>
<xs:element name="Position"  type="xs:IDREF"/>
<xs:element name="XLength"  type="xs:double" nillable ="true"/>
<xs:element name="YLength"  type="xs:double" nillable ="true"/>
<xs:element name="ZLength"  type="xs:double" nillable ="true"/>
<xs:element name="Height"  type="xs:double" nillable ="true"/>
<xs:element name="BottomRadius"  type="xs:double" nillable ="true"/>
<xs:element name="Radius"  type="xs:double" nillable ="true"/>
<xs:element name="Segments"  type="xs:IDREFS"/>
<xs:element name="SelfIntersect"  type="simcore:logical"/>
<xs:element name="Transition"  type="xs:string"/>
<xs:element name="ParentCurve"  type="xs:IDREF"/>
<xs:element name="Points"  type="xs:IDREFS"/>
<xs:element name="BasisCurve"  type="xs:IDREF"/>
<xs:element name="Trim1_Parameter"  type="xs:double" nillable ="true"/>
<xs:element name="Trim1_Cartesian"  type="xs:IDREF"/>
<xs:element name="SenseAgreement"  type="xs:boolean" nillable ="true"/>
<xs:element name="MasterRepresentation"  type="xs:string"/>
<xs:element name="Trim2_Cartesian"  type="xs:IDREF"/>
<xs:element name="Trim2_Parameter"  type="xs:double" nillable ="true"/>
<xs:element name="SemiAxis1"  type="xs:double" nillable ="true"/>
<xs:element name="SemiAxis2"  type="xs:double" nillable ="true"/>
<xs:element name="Pnt"  type="xs:IDREF"/>
<xs:element name="Dir"  type="xs:IDREF"/>
<xs:element name="Distance"  type="xs:double" nillable ="true"/>
<xs:element name="RefDirection"  type="xs:IDREF"/>
<xs:element name="CurveOnRelatingElement"  type="xs:IDREF"/>
<xs:element name="CurveOnRelatedElement"  type="xs:IDREF"/>
<xs:element name="BaseSurface"  type="xs:IDREF"/>
<xs:element name="AgreementFlag"  type="xs:boolean" nillable ="true"/>
<xs:element name="Enclosure"  type="xs:IDREF"/>
<xs:element name="PolygonalBoundary"  type="xs:IDREF"/>
<xs:element name="Coordinates"  type="simcore:doubleList"/>
<xs:element name="PointParameter"  type="xs:double" nillable ="true"/>
<xs:element name="BasisSurface"  type="xs:IDREF"/>
<xs:element name="PointParameterU"  type="xs:double" nillable ="true"/>
<xs:element name="PointParameterV"  type="xs:double" nillable ="true"/>
<xs:element name="Elements"  type="xs:IDREFS"/>
<xs:element name="TreeRootExpression"  type="xs:IDREF"/>
<xs:element name="Outer"  type="xs:IDREF"/>
<xs:element name="Voids"  type="xs:IDREFS"/>
<xs:element name="SweptArea"  type="xs:IDREF"/>
<xs:element name="ExtrudedDirection"  type="xs:IDREF"/>
<xs:element name="Depth"  type="xs:double" nillable ="true"/>
<xs:element name="Directrix"  type="xs:IDREF"/>
<xs:element name="InnerRadius"  type="xs:double" nillable ="true"/>
<xs:element name="StartParam"  type="xs:double" nillable ="true"/>
<xs:element name="EndParam"  type="xs:double" nillable ="true"/>
<xs:element name="OuterBoundary"  type="xs:IDREF"/>
<xs:element name="InnerBoundaries"  type="xs:IDREFS"/>
<xs:element name="U1"  type="xs:double" nillable ="true"/>
<xs:element name="V1"  type="xs:double" nillable ="true"/>
<xs:element name="U2"  type="xs:double" nillable ="true"/>
<xs:element name="V2"  type="xs:double" nillable ="true"/>
<xs:element name="Usense"  type="xs:boolean" nillable ="true"/>
<xs:element name="Vsense"  type="xs:boolean" nillable ="true"/>
<xs:element name="SweptCurve"  type="xs:IDREF"/>
<xs:element name="AxisPosition"  type="xs:IDREF"/>
<xs:element name="SurfaceOnRelatingElement"  type="xs:IDREF"/>
<xs:element name="SurfaceOnRelatedElement"  type="xs:IDREF"/>
<xs:element name="FbsmFaces"  type="xs:IDREFS"/>
<xs:element name="SbsmBoundary"  type="xs:IDREFS"/>
<xs:element name="Magnitude"  type="xs:double" nillable ="true"/>
<xs:element name="DirectionRatios"  type="simcore:doubleList"/>
<xs:element name="PlacementLocation"  type="xs:IDREF"/>
<xs:element name="PlacementRefDirection"  type="xs:IDREF"/>
<xs:element name="PlacementRelTo"  type="xs:IDREF"/>
<xs:element name="RelativePlacement"  type="xs:IDREF"/>
<xs:element name="Polygon"  type="xs:IDREFS"/>
<xs:element name="LoopVertex"  type="xs:IDREF"/>
<xs:element name="MappingSource"  type="xs:IDREF"/>
<xs:element name="MappingTarget"  type="xs:IDREF"/>
<xs:element name="SimPerfCurve_Name"  type="xs:string"/>
<xs:element name="SimPerfCurve_Coef1Const"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coef_2_X"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_MinValX"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_MaxValX"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_MinCurveOutput"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_MaxCurveOutput"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_InputUnitTypeForX"  type="xs:string"/>
<xs:element name="SimPerfCurve_OutputUnitType"  type="xs:string"/>
<xs:element name="SimPerfCurve_Coef_3_X_2"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coef_4_X_3"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coeff5_X_4"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coeff_1_3_Const"  type="simcore:doubleList"/>
<xs:element name="SimPerfCurve_Coef_4_Y"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coeff5_Y_2"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coeff6_X_y"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_MinValY"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_MaxValY"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_InputUnitTypeForY"  type="xs:string"/>
<xs:element name="SimPerfCurve_Coeff7_X_3"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coeff8_Y_3"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coeff9_X_2_Y"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coeff10_X_y_2"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coeff5_X_y"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coeff6_X_2_Y"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coef_2_X_2"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coef_3_X"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coef_4_Y_2"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coeff5_Y"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coeff6_Z_2"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coeff7_Z"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coeff8_X_2_Y_2"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coeff9_X_y"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coeff11_X_2_Y"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coeff_2_X_2_Z_2"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coeff_3_X_z"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coeff_4_X_z_2"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coeff15_X_2_Z"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coeff16_Y_2_Z_2"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coeff17_Y_Z"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coeff18_Y_Z_2"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coeff19_Y_2_Z"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coef_20_X_2_Y_2_Z_2"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coef_21_X_2_Y_2_Z"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coef_22_X_2_Y_Z_2"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coef_3_X_y_2_Z_2"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coef_4_X_2_Y_Z"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coef_25_X_y_2_Z"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coef_26_X_Y_Z_2"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coef_27_X_Y_Z"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_MinValZ"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_MaxValZ"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_InputUnitTypeForZ"  type="xs:string"/>
<xs:element name="SimPerfCurve_Diam"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_MinorLossCoef"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Length"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Rough"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_FixedFrictionFactor"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coeff1C1"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coeff2C2"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coeff3C3"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coeff4C4"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_MinValueOfQfan"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_MaxValueOfQfan"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_MinValueOfPsm"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_MaxValueOfPsm"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerfCurve_Coeff5C5"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerformanceTable_Name"  type="xs:string"/>
<xs:element name="SimPerformanceTable_CurveType"  type="xs:string"/>
<xs:element name="SimPerformanceTable_InterpolatMethod"  type="xs:string"/>
<xs:element name="SimPerformanceTable_MinValX"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerformanceTable_MaxValX"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerformanceTable_MinTableOutput"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerformanceTable_MaxTableOutput"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerformanceTable_InputUnitTypeForX"  type="xs:string"/>
<xs:element name="SimPerformanceTable_OutputUnitType"  type="xs:string"/>
<xs:element name="SimPerformanceTable_NormalizationRef"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerformanceTable_XValue_1_57"  type="simcore:doubleList"/>
<xs:element name="SimPerformanceTable_OutputValue_1_57"  type="simcore:doubleList"/>
<xs:element name="SimPerformanceTable_MinValY"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerformanceTable_MaxValY"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerformanceTable_InputUnitTypeForY"  type="xs:string"/>
<xs:element name="SimPerformanceTable_XValue_1_164"  type="simcore:doubleList"/>
<xs:element name="SimPerformanceTable_YValue_1_164"  type="simcore:doubleList"/>
<xs:element name="SimPerformanceTable_OutputValue_1_164"  type="simcore:doubleList"/>
<xs:element name="SimPerformanceTable_NumOfInterpolatPoints"  type="xs:int" nillable ="true"/>
<xs:element name="SimPerformanceTable_TableDataFormat"  type="xs:string"/>
<xs:element name="SimPerformanceTable_ExternalFileName"  type="xs:string"/>
<xs:element name="SimPerformanceTable_X_1_2_SortOrder">
<xs:complexType>
<xs:sequence maxOccurs="unbounded">
<xs:element ref="simcore:stringItem"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="SimPerformanceTable_MinValueOf_X_1_5"  type="simcore:doubleList"/>
<xs:element name="SimPerformanceTable_MaxValueOf_X_1_5"  type="simcore:doubleList"/>
<xs:element name="SimPerformanceTable_InputUnitTypeForX_1_5">
<xs:complexType>
<xs:sequence maxOccurs="unbounded">
<xs:element ref="simcore:stringItem"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="SimPerformanceTable_NumOfValsForIndepVarX1"  type="xs:double" nillable ="true"/>
<xs:element name="SimPerformanceTable_Field_1_3083_DetbyNumIndpVars"  type="simcore:doubleList"/>
<xs:element name="Location"  type="xs:IDREF"/>
<xs:element name="Axis"  type="xs:IDREF"/>
<xs:element name="RepresentationContext"  type="xs:IDREF"/>
<xs:element name="RepresentationIdentifier"  type="xs:string"/>
<xs:element name="RepresentationType"  type="xs:string"/>
<xs:element name="RepresentationItems"  type="xs:IDREFS"/>
<xs:element name="MappingOrigin"  type="xs:IDREF"/>
<xs:element name="MappedRepresentation"  type="xs:IDREF"/>

	
</xs:schema>