simxml/simxmllib/simmodel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.lbl.gov/namespaces/Sim/Model" xmlns:simmodel="http://www.lbl.gov/namespaces/Sim/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:simcore="http://www.lbl.gov/namespaces/Sim/SimModelCore" xmlns:simres="http://www.lbl.gov/namespaces/Sim/ResourcesGeneral" xmlns:simgeom="http://www.lbl.gov/namespaces/Sim/ResourcesGeometry" xmlns:simbldg="http://www.lbl.gov/namespaces/Sim/BuildingModel" xmlns:simmep="http://www.lbl.gov/namespaces/Sim/MepModel" elementFormDefault="qualified" attributeFormDefault="unqualified">

<xs:import namespace="http://www.lbl.gov/namespaces/Sim/SimModelCore" schemaLocation="simcore.xsd"/>
<xs:import namespace="http://www.lbl.gov/namespaces/Sim/ResourcesGeneral" schemaLocation="simres.xsd"/>
<xs:import namespace="http://www.lbl.gov/namespaces/Sim/ResourcesGeometry" schemaLocation="simgeom.xsd"/>
<xs:import namespace="http://www.lbl.gov/namespaces/Sim/BuildingModel" schemaLocation="simbldg.xsd"/>
<xs:import namespace="http://www.lbl.gov/namespaces/Sim/MepModel" schemaLocation="simmep.xsd"/>


	<xs:element name="SimModel">
		<xs:annotation>
			<xs:documentation>XML representation of a SIM model</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SimActorDefinition" type="simres:SimActorDefinition" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimActuator" type="simmep:SimActuator" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimAddress" type="simres:SimAddress" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimAdjacentSiteParameters" type="simres:SimAdjacentSiteParameters" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimAnalyticalRepresentation" type="simgeom:SimAnalyticalRepresentation" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimAppLibraryDefault" type="simres:SimAppLibraryDefault" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimAppObjNameDefault" type="simres:SimAppObjNameDefault" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimAppUnitDefault" type="simres:SimAppUnitDefault" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimBeam" type="simbldg:SimBeam" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimBeamType" type="simbldg:SimBeamType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimBuilding" type="simbldg:SimBuilding" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimBuildingElementProxy" type="simbldg:SimBuildingElementProxy" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimBuildingElementProxyType" type="simbldg:SimBuildingElementProxyType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimBuildingElementType" type="simbldg:SimBuildingElementType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimBuildingSiteParameters" type="simres:SimBuildingSiteParameters" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimBuildingStory" type="simbldg:SimBuildingStory" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimBuildingStoryParameters" type="simres:SimBuildingStoryParameters" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimCartesianTransformOperator" type="simgeom:SimCartesianTransformOperator" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimClassification" type="simres:SimClassification" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimColumn" type="simbldg:SimColumn" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimColumnType" type="simbldg:SimColumnType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimComplianceRefModel" type="simres:SimComplianceRefModel" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimConnectedFaceSet" type="simgeom:SimConnectedFaceSet" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimConnection" type="simres:SimConnection" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimController" type="simmep:SimController" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimControlScheme" type="simres:SimControlScheme" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimConversionBasedUnitType" type="simres:SimConversionBasedUnitType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimCost" type="simres:SimCost" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimCurtainWall" type="simbldg:SimCurtainWall" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimCurtainWallType" type="simbldg:SimCurtainWallType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimDaylightingAssembly" type="simbldg:SimDaylightingAssembly" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimDistributionPort" type="simres:SimDistributionPort" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimDoor" type="simbldg:SimDoor" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimDoorLiningProps" type="simres:SimDoorLiningProps" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimDoorPanelProps" type="simres:SimDoorPanelProps" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimDoorType" type="simbldg:SimDoorType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimEdge" type="simgeom:SimEdge" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimElementQuantities" type="simres:SimElementQuantities" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimExternalReference" type="simres:SimExternalReference" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimFace" type="simgeom:SimFace" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimFaceBound" type="simgeom:SimFaceBound" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimFeatureElementAddition" type="simgeom:SimFeatureElementAddition" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimFeatureElementSubtraction" type="simgeom:SimFeatureElementSubtraction" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimFeatureSurfaceCrack" type="simgeom:SimFeatureSurfaceCrack" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimFlowCompoundEqmt" type="simmep:SimFlowCompoundEqmt" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimFlowController" type="simmep:SimFlowController" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimFlowEnergyTransfer" type="simmep:SimFlowEnergyTransfer" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimFlowEnergyTransferStorage" type="simmep:SimFlowEnergyTransferStorage" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimFlowFitting" type="simmep:SimFlowFitting" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimFlowMover" type="simmep:SimFlowMover" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimFlowPlant" type="simmep:SimFlowPlant" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimFlowSegment" type="simmep:SimFlowSegment" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimFlowStorage" type="simmep:SimFlowStorage" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimFlowTerminal" type="simmep:SimFlowTerminal" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimFluid" type="simres:SimFluid" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimGeomBooleanResult" type="simgeom:SimGeomBooleanResult" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimGeomBoundingBox" type="simgeom:SimGeomBoundingBox" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimGeomCsgPrimative3D" type="simgeom:SimGeomCsgPrimative3D" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimGeomCurve" type="simgeom:SimGeomCurve" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimGeomHalfSpaceSolid" type="simgeom:SimGeomHalfSpaceSolid" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimGeomPoint" type="simgeom:SimGeomPoint" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimGeomSet" type="simgeom:SimGeomSet" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimGeomSolidModel" type="simgeom:SimGeomSolidModel" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimGeomSurface" type="simgeom:SimGeomSurface" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimGeomSurfaceModel" type="simgeom:SimGeomSurfaceModel" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimGeomVector" type="simgeom:SimGeomVector" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimGridAxis" type="simres:SimGridAxis" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimGridPlacement" type="simgeom:SimGridPlacement" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimGroundHeatTransferBasement" type="simres:SimGroundHeatTransferBasement" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimGroundHeatTransferSlab" type="simres:SimGroundHeatTransferSlab" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimGroup" type="simbldg:SimGroup" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimInfiltrationVentilation" type="simres:SimInfiltrationVentilation" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimInternalLoad" type="simres:SimInternalLoad" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimList" type="simbldg:SimList" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimLocalPlacement" type="simgeom:SimLocalPlacement" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimLoop" type="simgeom:SimLoop" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimMappedRepresentationItem" type="simgeom:SimMappedRepresentationItem" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimMaterial" type="simres:SimMaterial" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimMaterialLayer" type="simres:SimMaterialLayer" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimMaterialLayerSet" type="simres:SimMaterialLayerSet" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimMaterialLayerSetUsage" type="simres:SimMaterialLayerSetUsage" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimMeasureType" type="simres:SimMeasureType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimMember" type="simbldg:SimMember" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimMemberProfileProperties" type="simres:SimMemberProfileProperties" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimModelRepresentationContext" type="simres:SimModelRepresentationContext" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimNode" type="simres:SimNode" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimObjectOutputRequestSet" type="simres:SimObjectOutputRequestSet" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimOpeningType" type="simbldg:SimOpeningType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimOwnerHistory" type="simres:SimOwnerHistory" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimPerformanceCurve" type="simgeom:SimPerformanceCurve" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimPerformanceTable" type="simgeom:SimPerformanceTable" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimPlacement" type="simgeom:SimPlacement" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimPlate" type="simbldg:SimPlate" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimPort" type="simres:SimPort" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimPresentationLayerAssignment" type="simres:SimPresentationLayerAssignment" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimProfileDefinition" type="simres:SimProfileDefinition" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimProject" type="simbldg:SimProject" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimProperty" type="simres:SimProperty" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimPropertySet" type="simres:SimPropertySet" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimQuantity" type="simres:SimQuantity" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimRailing" type="simbldg:SimRailing" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimRamp" type="simbldg:SimRamp" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimRampFlight" type="simbldg:SimRampFlight" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimReferenceByName" type="simres:SimReferenceByName" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimRefrigerationSystemElement" type="simmep:SimRefrigerationSystemElement" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimRepresentationMap" type="simgeom:SimRepresentationMap" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimResourceConsumption" type="simres:SimResourceConsumption" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimRoof" type="simbldg:SimRoof" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimSensor" type="simmep:SimSensor" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimShapeRepresentation" type="simgeom:SimShapeRepresentation" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimSimulationOutputFormat" type="simres:SimSimulationOutputFormat" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimSimulationOutputRequest" type="simres:SimSimulationOutputRequest" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimSimulationParameters" type="simres:SimSimulationParameters" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimSimulationRun" type="simres:SimSimulationRun" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimSite" type="simbldg:SimSite" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimSiteAssembly" type="simbldg:SimSiteAssembly" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimSIUnitType" type="simres:SimSIUnitType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimSlab" type="simbldg:SimSlab" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimSlabParameters" type="simres:SimSlabParameters" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimSlabType" type="simbldg:SimSlabType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimSoftwareApplication" type="simres:SimSoftwareApplication" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimSolarObstructionParameters" type="simres:SimSolarObstructionParameters" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimSolarShade" type="simbldg:SimSolarShade" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimSpace" type="simbldg:SimSpace" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimSpaceBoundary" type="simres:SimSpaceBoundary" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimSpaceParameters" type="simres:SimSpaceParameters" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimSpatialZone" type="simbldg:SimSpatialZone" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimStair" type="simbldg:SimStair" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimStairFlight" type="simbldg:SimStairFlight" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimSystem" type="simbldg:SimSystem" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimTemplateBuildingConstructions" type="simres:SimTemplateBuildingConstructions" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimTemplateHvacZoneEquipment" type="simres:SimTemplateHvacZoneEquipment" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimTemplateLightsAndDaylighting" type="simres:SimTemplateLightsAndDaylighting" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimTemplateLocationSiteAndBuilding" type="simres:SimTemplateLocationSiteAndBuilding" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimTemplateNonHvacZoneEquipment" type="simres:SimTemplateNonHvacZoneEquipment" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimTemplateOccupancyAndComfort" type="simres:SimTemplateOccupancyAndComfort" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimTemplateOutputFormatSet" type="simres:SimTemplateOutputFormatSet" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimTemplateOutputRequestSet" type="simres:SimTemplateOutputRequestSet" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimTemplateReportSet" type="simres:SimTemplateReportSet" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimTemplateSimConfiguration" type="simres:SimTemplateSimConfiguration" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimTemplateSimParameters" type="simres:SimTemplateSimParameters" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimTemplateZoneConditions" type="simres:SimTemplateZoneConditions" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimTemplateZoneConfiguration" type="simres:SimTemplateZoneConfiguration" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimTemplateZoneConstructions" type="simres:SimTemplateZoneConstructions" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimTimeSeriesSchedule" type="simres:SimTimeSeriesSchedule" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimToplogicalRepresentation" type="simgeom:SimToplogicalRepresentation" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimTransportSysAssembly" type="simbldg:SimTransportSysAssembly" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimWall" type="simbldg:SimWall" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimWallParameters" type="simres:SimWallParameters" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimWallType" type="simbldg:SimWallType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimWeather" type="simres:SimWeather" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimVentilationAssembly" type="simbldg:SimVentilationAssembly" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimVertex" type="simgeom:SimVertex" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimWindow" type="simbldg:SimWindow" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimWindowLiningProps" type="simres:SimWindowLiningProps" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimWindowPanelProps" type="simres:SimWindowPanelProps" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimWindowParameters" type="simres:SimWindowParameters" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimWindowType" type="simbldg:SimWindowType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SimVirtualGridIntersection" type="simres:SimVirtualGridIntersection" minOccurs="0" maxOccurs="unbounded"/>

			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>